$margin-right: 15px;

.o-euro_office-create-templates-dialog {
  .o-euro_office-create-field-box {
    display: flex;
    padding: $margin-right;
  }

  .o-euro_office-create-templates-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .o-euro_office-create-template {
      display: flex;
      align-items: center;
      border: 1px solid var(--o-input-border-color);
      padding: $margin-right;
      margin: $margin-right;
      flex: 1;
      cursor: pointer;

      &.o-template-selected {
        border-color: $o-brand-primary;
        box-shadow: 0 0 0 2px $o-brand-primary;
      }

      .o-euro_office-create-icon {
        margin-right: $margin-right;
        height: 45px;
      }
    }
  }
}
